*/heroku/config.json
.netrwhist
bundle/cache
bin/heroku
config/QtProject.conf
config/Zeal
config/bottom
config/bpytop
config/bpytop/error.log
config/configstore
config/exercism
config/fontforge
config/gatsby
config/glib-2.0
config/htop
config/iterm2/AppSupport
config/kitty/current-theme.conf
config/mimeapps.list
config/nnn/.history
config/nvim/autoload/plug.vim
config/nvm
config/pulse
config/slack-term/config
config/syncthing
config/tmuxinator
config/user-dirs.dirs
config/yarn
fish_history
fish_variables
fishd.*
generated_completions
nvim/plugins

config/fish/functions/fzf_key_bindings.fish

## fisher
config/fish/functions/fisher.fish
config/fish/completions/fisher.fish
# nvm
config/fish/functions/_nvm_index_update.fish
config/fish/functions/_nvm_list.fish
config/fish/functions/_nvm_version_activate.fish
config/fish/functions/_nvm_version_deactivate.fish
config/fish/functions/nvm.fish
config/fish/conf.d/nvm.fish
config/fish/completions/nvm.fish

# fish-ssh-agent
config/fish/functions/__ssh_agent_is_started.fish
config/fish/functions/__ssh_agent_start.fish
config/fish/conf.d/fish-ssh-agent.fish
