*/heroku/config.json
.netrwhist
bundle/cache
bin/heroku
bin/ngrok
config/QtProject.conf
config/Zeal
config/bottom
config/bpytop
config/bpytop/error.log
config/cheat/cheatsheets/community
config/configstore
config/exercism
config/fontforge
config/gatsby
config/gcloud
config/gh/hosts.yml
config/github-copilot
config/glib-2.0
config/htop
config/iterm2/AppSupport
config/kitty/current-theme.conf
config/kitty/kitty.conf.bak
config/kitty/os.conf
config/mimeapps.list
config/nnn/.history
config/nvim/autoload/plug.vim
config/nvim/lazy-lock.json
config/nvm
config/pulse
config/shopify
config/slack-term/config
config/syncthing
config/tmuxinator
config/user-dirs.dirs
config/yarn
config/zed/prompts
packer_compiled.lua
fish_history
fish_variables
fishd.*
generated_completions
nvim/plugins

config/fish/functions/fzf_key_bindings.fish
config/claude-code/mcp_servers.json

## fisher
config/fish/functions/fisher.fish
config/fish/completions/fisher.fish

# fish-ssh-agent
config/fish/functions/__ssh_agent_is_started.fish
config/fish/functions/__ssh_agent_start.fish
config/fish/conf.d/fish-ssh-agent.fish
